<div>
    <button type="button" class="btn btn-primary bts_show_edit_modal" data-toggle="modal" data-target="#editTodoModal"
            data-id="{{this.id}}" data-desc="{{this.desc}}" data-links="{{this.linkList}}">수정</button>
</div>

<div class="modal fade" id="editTodoModal" tabindex="-1" role="dialog" aria-labelledby="editTodoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTodoLabel">수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="edit_id">id</label>
                        <input disabled type="text" class="form-control" id="edit_id"  >
                    </div>
                    <div class="form-group">
                        <label for="edit_desc">할일</label>
                        <input type="text" class="form-control" id="edit_desc" placeholder="할일을 입력하세요" >
                    </div>
                    <div class="form-group">
                        <label for="edit_links"> link ids </label>
                        <input type="text" class="form-control" id="edit_links" placeholder="참조할 Todo의 Id를 입력하세요 ex)1,2,3" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btn_edit">수정</button>
            </div>
        </div>
    </div>
</div>