{{# partial "content" }}

  <div class="main">
    <h2 class="main-header">Todo List</h2>

    <div class="dim-wrapper">
      <div class="ajax-loading"></div>
    </div>

    <div>

    </div>


  </div>
{{/partial}}

{{>layout}}