{{# partial "content" }}
    <div id="sub-content" >
        {{> todo/todolist}}
    </div>

    <div>
        {{> todo/newtodo}}
    </div>

{{/partial}}

{{# partial "page-script" }}
    <script src="/js/app/newtodo.js"></script>
    <script src="/js/app/edittodo.js"></script>
    <script src="/js/app/donetodo.js"></script>

{{/partial}}

{{>layout}}
